<div class="grid" style=" height: 100%;
  margin: 0;">
    <div class="col-12" style=" height: 100%;
  margin: 0;">
        <div class="card" style="background-image: url('assets/imagenes/H01O.gif');height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br> <br>
            <br>
            <br>
            <div class="grid" style=" height: 100%;
  margin: 0;">
                <div class="col-11 col-offset-5" style="align-content: center">
                    <p-button label="Ingresar a la tienda" styleClass="p-button-lg mr-2 mb-2" (onClick)="passPage()"></p-button>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>

</div>
