<div class="grid">
    <div class="col-12">
        <div class="card" style="background-color:  rgba(255,255,255,0.62)">

            <h4>BOHEMIAN PROJECT</h4>
            <p>PRODUCTOS</p>
            <div class="grid" >
                <div class="col-12 col-offset-3">

                </div>
            </div>


            <div class="grid">
                <div class="col-12">

                    <p-dataView #dv [value]="products" [rows]="5" [totalRecords]="12" [paginator]="true" [sortField]="sortField" [sortOrder]="sortOrder" >
                        <ng-template pTemplate="header">
                            <div class="flex flex-column md:flex-row md:justify-content-between">
                                <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By Price" (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
                            </div>
                        </ng-template>

                        <ng-template let-product pTemplate="listItem">
                            <div class="col-12">
                                <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
                                    <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
                                         [src]="'assets/imagenes/' + product.image"
                                         [alt]="product.name"/>
                                    <div
                                        class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                                        <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                                            <div class="text-2xl font-bold text-900">{{ product.name }}</div>
                                            <p-rating [(ngModel)]="product.rating" [readonly]="true"
                                                      [cancel]="false"></p-rating>
                                            <div class="flex align-items-center gap-3">
                            <span class="flex align-items-center gap-2">
                                <i class="pi pi-tag"></i>
                                <span class="font-semibold">{{ product.category }}</span>
                            </span>
                                                <p-tag [value]="product.inventoryStatus"
                                                       [severity]="getSeverity(product)"></p-tag>
                                            </div>
                                        </div>
                                        <div>

                                            <p-accordion>
                                                <p-accordionTab header="DETALLES">
                                                    <p>
                                                        {{product.ampliacion}}
                                                    </p>
                                                </p-accordionTab>

                                            </p-accordion>
                                        </div>
                                        <div
                                            class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">
                                            <span class="text-2xl font-semibold">{{ '$' + product.price }}</span>
                                            <p-button icon="pi pi-whatsapp" styleClass="p-button-rounded p-button-success"
                                                      [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
                                                      (click)="redirect('WHATSAPP')"></p-button>
                                            <p-button icon="pi pi-facebook" styleClass="p-button-rounded p-button-info"
                                                      (click)="redirect('FACEBOOK')"></p-button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>

                </div>


            </div>
        </div>
    </div>
</div>
